
.main-back{
 height: 100vh;
 background-image: url("./images/city-back-3.jpg");
 background-position: 100% 100%;
 background-repeat: no-repeat;
 background-size: cover;
}
@media (max-width: 1079px){
  .main-back{
    height: 100%;
    background-image: url("./images/city-back-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
}
